* {
    font-family: Helvetica, Arial, sans-serif;
}

#circleContainer div:first-child {
    margin: 10px 5px 10px 0;
}
#circleContainer div:last-child {
    margin: 10px 0 10px 5px;
}

#circleContainer {
    border: aqua 1px solid;
    display: flex;
    justify-content: flex-end;
}

#circleContainer div {
    color: #382058;
    width: 150px;
    padding: 10px 10px;
    margin: 10px 5px;
    border: rebeccapurple solid 1px;
    background-color: mediumpurple;
    font-size: 13px;
    text-align: center;
}

#spaceContainer {
    float: left;
    height: 100vh;
}

#spaceContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mainContent {
    border: 1px solid;
}

.container {
    display: flex;
}
